.main {
  background-image: linear-gradient(to bottom right, red, blue);
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  padding: 10px;
  padding-top: 100px;
}
.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.heading {
  color: aquamarine;
  font-weight: bolder;
}
.heading > span {
  color: #ffffff;
}
.message {
  font-weight: bolder;
  margin-top: 30vh;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .main {
    height: 100vh;
  }
}
@media screen and (max-width: 300px) {
  .cardContainer {
    flex-direction: column;
  }
  .main {
    height: auto;
  }
}
@media screen and (min-width: 601px) {
  .cardContainer {
    margin-top: 100px;
  }
}
